# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

authServerRefreshTokens.js
server/.env
server/serverold.js
server/pocketbase
adminLogin.js
regtemp.tsx
authServiceOld.js
unused.txt

.firebaserc
firebase.json
.firebase
server/.dockerignore
server/Dockerfile
server/fly.toml