@import url("./variables.css");
@import url("@fontsource/nunito");

/* Custom styling for react-big-calendar */

/* -----Calendar and cells----- */
.rbc-calendar {
  height: 500px;
  color: var(--light-text-color);
  font-family: "Nunito", "sans-serif";
}

.rbc-header {
  background-color: var(--light-secondary-color);
  color: var(--light-text-color);
  font-weight: 600;
  padding: 5px;
  display: flex;
  justify-content: center;
  place-items: center;
  border-bottom: none;
}
.rbc-header span {
  font-size: 18px;
}

.rbc-date-cell {
  border: 1px solid #ccc;
}

.rbc-timeslot-group {
  border-bottom: 0px solid #ccc;
}

.rbc-time-column.rbc-today,
.rbc-day-bg.rbc-today {
  background-color: white;
}

.rbc-date-cell {
  border: none;
  display: flex;
  justify-content: center;
  place-items: center;
}
.rbc-month-row {
  border: var(--light-secondary-color);
}

.rbc-month-view {
  border: none;
}
.rbc-show-more {
  color: var(--light-accent-color);
  background: none;
}
.rbc-slot-selection {
  background-color: var(--light-primary-color);
  color: var(--light-text-color);
}
/* ---------- */

/* -----Events----- */

.rbc-event {
  background-color: var(--light-primary-color);
  color: var(--light-text-color);
  border: none;
  border-radius: 0px;
  padding: 2px 5px;
  height: 20px;
  font-size: 14px;
}

.rbc-event.rbc-selected {
  background-color: var(--light-secondary-color);
}

.rbc-day-slot .rbc-event {
  border: none;
}
.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  outline: none !important;
}

.rbc-addons-dnd-drag-preview {
  background-color: var(--light-secondary-color) !important;
}
/* ---------- */

/* -----Toolbar----- */
.rbc-toolbar {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.rbc-toolbar-label {
  font-size: 24px;
}

.rbc-btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.rbc-btn-group:first-child button:hover {
  background-color: var(--light-secondary-color);
}

.rbc-btn-group button {
  border: 1px solid;
  border-color: inherit;
}
.rbc-toolbar button:active,
.rbc-active,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:focus {
  background-color: var(--light-primary-color);
  border-color: #ccc;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.rbc-toolbar button {
  transition: background-color ease-in-out 300ms; /* Specify the property being transitioned */
}
.rbc-toolbar button:focus {
  background-color: inherit;
  border-color: inherit;
}
.rbc-toolbar button:hover,
.rbc-toolbar button.rbc-active:hover {
  background-color: var(--light-primary-color);
  border-color: inherit;
}

/* ---------- */

/* -----Mobile----- */

@media (max-width: 768px) {
  .rbc-calendar {
    width: 100vw;
    height: 90vh;
  }
  .rbc-event {
    height: 20px;
    font-size: 12px;
    padding: 2px 5px;
  }
  .rbc-toolbar-label {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rbc-show-more {
    font-size: 10px;
  }
  .rbc-header span {
    overflow: hidden;
    white-space: normal;
    font-size: 18px;
  }
  .rbc-header {
    height: 35px;
    padding-top: 4px;
    display: block;
  }
  .week-view .rbc-events-container {
    margin-right: 0px;
  }
  .week-view .rbc-header {
    height: auto;
  }
  .week-view .rbc-header span {
    overflow: hidden;
    margin-left: 4px;
    font-size: 13px;
    white-space: nowrap;
  }
  .week-view .rbc-event-label {
    display: none;
  }
  .rbc-time-view .rbc-allday-cell {
    height: auto;
  }

  .rbc-toolbar {
    position: relative;
  }
  .rbc-toolbar .rbc-btn-group:first-child {
    position: absolute;
    width: 100%;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:first-child {
    position: absolute;
    left: 0;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:first-child {
    position: absolute;
    left: 0;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:nth-child(1) {
    display: none !important;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:nth-child(2) {
    position: absolute;
    border: none;
    width: 40px;
    color: transparent !important;
    left: 70px;
    bottom: 1px;
    border-radius: 5px;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:nth-child(2):after {
    content: "<<";
    position: absolute;
    display: block;
    color: var(--light-text-color);
    font-size: 24px;
    top: 0px;
    left: 7px;
    pointer-events: none;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:nth-child(3) {
    position: absolute;
    border: none;
    width: 40px;
    color: transparent !important;
    right: 70px;
    bottom: 1px;
    border-radius: 5px;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:nth-child(3):after {
    content: ">>";
    position: absolute;
    display: block;
    color: var(--light-text-color);
    font-size: 24px;
    top: 0px;
    left: 7px;
    pointer-events: none;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:active {
    background: none !important;
  }
}

@media (max-width: 500px) {
  .week-view .rbc-header span {
    overflow: hidden;
    margin-left: 4px;
    font-size: 15px;
    word-spacing: 20px;
    white-space: nowrap;
  }
}

/* ---------- */

/* -----Dark mode----- */
.dark .rbc-calendar {
  background-color: var(--dark-bg-color);
}
.dark .rbc-time-header-content,
.dark .rbc-time-content,
.dark .rbc-time-header,
.dark .rbc-time-view {
  border: 1px solid var(--dark-gray);
}
.dark .rbc-button-link {
  color: var(--dark-text-color);
}
.dark .rbc-button-link span {
  color: var(--light-text-color) !important;
}
.dark .rbc-today {
  background-color: var(--dark-darkgray);
}
.dark .rbc-day-bg {
  border-color: var(--dark-gray);
}
.dark .rbc-month-row + .rbc-month-row {
  border-color: var(--dark-gray);
}
.dark .rbc-off-range-bg {
  background-color: var(--dark-accent-color);
}
.dark .rbc-header {
  background-color: var(--dark-secondary-color);
  color: var(--light-text-color);
}
.dark .rbc-toolbar,
.dark .rbc-toolbar button {
  border-color: var(--dark-gray);
  color: var(--dark-text-color);
}

.dark .rbc-event {
  opacity: 0.9 !important;
}

.dark .rbc-toolbar button:active,
.dark .rbc-active,
.dark .rbc-toolbar button.rbc-active,
.dark .rbc-toolbar button.rbc-active:focus {
  background-color: var(--dark-primary-color);
  border: none;
  color: var(--light-text-color);
}

.dark .rbc-toolbar button:hover {
  background-color: var(--dark-primary-color);
}
.dark .rbc-header + .rbc-header {
  border-color: var(--dark-lightgray);
}

.dark .rbc-timeslot-group {
  border-color: var(--dark-gray);
}

.dark .rbc-time-slot {
  color: var(--dark-text-color);
  border: none /*  var(--dark-darkgray) */;
}
.dark .rbc-current-time-indicator {
  background-color: var(--dark-primary-color);
}

.dark .rbc-slot-selection {
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
}
.dark .rbc-toolbar .rbc-btn-group:first-child button:nth-child(2):after {
  color: var(--dark-text-color);
}
.dark .rbc-toolbar .rbc-btn-group:first-child button:nth-child(3):after {
  color: var(--dark-text-color);
}
/* ---------- */
