@import url("./variables.css");
@import url("@fontsource/nunito");

/* Custom styling for react-big-calendar */
.rbc-calendar {
  height: 500px;
  color: var(--light-text-color);
  font-family: "Nunito", "sans-serif";
}

/* Header styling */
.rbc-header {
  background-color: var(--light-secondary-color);
  color: var(--light-text-color);
  font-weight: 600;
  padding: 5px;
  display: flex;
  justify-content: center;
  place-items: center;
  border-bottom: none;
}
.rbc-header span {
  font-size: 18px;
}

.rbc-toolbar {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.rbc-toolbar-label {
  font-size: 24px;
}
/* Day cell styling */
.rbc-date-cell {
  border: 1px solid #ccc;
}
@keyframes an {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Event styling */
.rbc-event {
  background-color: var(--light-primary-color);
  color: var(--light-text-color);
  border: none;
  border-radius: 0px;
  padding: 2px 5px;
  height: 18px;
  font-size: 12px;
}

/* .rbc-addons-dnd-dragged-event {
  opacity: 1 !important;
  background-color: black !important;
} */
/* .rbc-event,
.rbc-event:not(.rbc-event.rbc-selected),
.rbc-event:not(.rbc-addons-dnd-dragged-event),
.rbc-event:not(.rbc-background-event) .rbc-event:not(.rbc-selected.rbc-background-event),
:not(.week-view) {
  animation: 0.2s ease-in-out 0s 1 an;
} */
/* Event slot styling */
.rbc-timeslot-group {
  border-bottom: 0px solid #ccc;
}

/* Today button styling */
.rbc-date-cell {
  border: none;
  display: flex;
  justify-content: center;
  place-items: center;
}
.rbc-event-continues-after {
  border-radius: 10px 0px 0px 10px;
}
.rbc-event-continues-prior {
  border-radius: 0px 10px 10px 0px;
}

.rbc-slot-selection {
  background-color: var(--light-primary-color);
  color: var(--light-text-color);
}

.rbc-btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.rbc-btn-group:first-child button:hover {
  background-color: var(--light-secondary-color);
}

/* .rbc-toolbar button:active:focus {
  background-color: inherit;
  border-color: #ccc;
} */
.rbc-btn-group button {
  border: 1px solid;
  border-color: inherit;
}
.rbc-toolbar button:active,
.rbc-active,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:focus {
  background-color: var(--light-primary-color);
  border-color: #ccc;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.rbc-toolbar button {
  transition: background-color ease-in-out 300ms; /* Specify the property being transitioned */
}
.rbc-toolbar button:focus {
  background-color: inherit;
  border-color: inherit;
}
.rbc-toolbar button:hover,
.rbc-toolbar button.rbc-active:hover {
  background-color: var(--light-primary-color);
  border-color: inherit;
}
.rbc-event.rbc-selected {
  background-color: var(--light-secondary-color);
}
.rbc-show-more {
  color: var(--light-accent-color);
  background: none;
}

.rbc-day-slot .rbc-event {
  border: none;
}
.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  outline: none !important;
}
.rbc-month-row {
  border: var(--light-secondary-color);
}

/* .rbc-day-bg:last-child {
  border-right: 1px solid black;
  border-radius: 5px;
} */
.rbc-month-view {
  border: none;
}
/* Mobile responsiveness */
@media (max-width: 768px) {
  .rbc-calendar {
    width: 100vw;
    height: 85vh;
  }
  .rbc-event {
    height: 20px;
    font-size: 12px;
    padding: 2px 5px;
  }
  .rbc-toolbar-label {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rbc-event-continues-after {
    border-radius: 5px 0px 0px 5px;
  }
  .rbc-event-continues-prior {
    border-radius: 0px 5px 5px 0px;
  }
  .rbc-show-more {
    font-size: 10px;
  }
  .rbc-header span {
    overflow: hidden;
    white-space: normal;
    font-size: 18px;
  }
  .rbc-header {
    height: 35px;
    padding-top: 4px;
    display: block;
  }
  .week-view .rbc-events-container {
    margin-right: 0px;
  }
  .week-view .rbc-header {
    height: auto;
  }
  .week-view .rbc-header span {
    overflow: hidden;
    margin-left: 4px;
    font-size: 13px;
    white-space: nowrap;
  }
  .week-view .rbc-event-label {
    display: none;
  }
}

@media (max-width: 500px) {
  .week-view .rbc-header span {
    overflow: hidden;
    margin-left: 4px;
    font-size: 15px;
    word-spacing: 20px;
    white-space: nowrap;
  }
}

.rbc-addons-dnd-drag-preview {
  background-color: var(--light-secondary-color) !important;
}

/* Dark mode */
.dark .rbc-calendar {
  background-color: var(--dark-bg-color);
}
.dark .rbc-button-link {
  color: var(--dark-text-color);
}
.dark .rbc-button-link span {
  color: var(--light-text-color) !important;
}
.dark .rbc-today {
  background-color: var(--dark-darkgray);
}
.dark .rbc-day-bg {
  border-color: var(--dark-gray);
}
.dark .rbc-month-row + .rbc-month-row {
  border-color: var(--dark-gray);
}
.dark .rbc-off-range-bg {
  background-color: var(--dark-accent-color);
}
.dark .rbc-header {
  background-color: var(--dark-secondary-color);
  color: var(--light-text-color);
}
.dark .rbc-toolbar,
.dark .rbc-toolbar button {
  border-color: var(--dark-gray);
  color: var(--dark-text-color);
}

.dark .rbc-event {
  opacity: 0.9 !important;
}

.dark .rbc-toolbar button:active,
.dark .rbc-active,
.dark .rbc-toolbar button.rbc-active,
.dark .rbc-toolbar button.rbc-active:focus {
  background-color: var(--dark-primary-color);
  border: none;
  color: var(--light-text-color);
}

.dark .rbc-toolbar button:hover {
  background-color: var(--dark-primary-color);
}
.dark .rbc-header + .rbc-header {
  border-color: var(--dark-lightgray);
}

.dark .rbc-timeslot-group {
  border-color: var(--dark-gray);
}

.dark .rbc-time-slot {
  color: var(--dark-text-color);
  border: none /*  var(--dark-darkgray) */;
}
.dark .rbc-current-time-indicator {
  background-color: var(--dark-primary-color);
}

.dark .rbc-slot-selection {
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
}

/* ---------- */
